@{
    ViewData["Title"] = "Son of Cod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Son of Cod</h1>
<hr />

<div class="row">
    <div class="col s12 m6">
        <div class="card hoverable front-card">
            <div class="card-image">
                <a href="/Newsletter">
                    <img src="~/images/newsletter-background.jpg" alt="Image of newsletter" />
                    <span class="card-title caption">Sign up for our newsletter!</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card hoverable front-card">
            <div class="card-image">
                <a href="/Marketing">
                    <img src="~/images/marketing-background.jpg" alt="Image of seafood" />
                    <span class="card-title caption">Learn about our company</span>
                </a>
            </div>
        </div>
    </div>
</div>