@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <h1>Hello @User.Identity.Name!</h1>
    <hr />
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn blue" value="Log out" />
    }
}
else
{
    <h1>Create an account or login</h1>
    <hr />
    <div id="login-buttons">
        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn blue"})
        @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn blue" })
    </div>
}