@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

<h1>Newsletter</h1>
<hr />
<h4>About our newsletter:</h4>
<p>Tempor dolore ipsum ut feugait dolore sed amet labore lorem exerci dolor accusam sanctus nulla est diam sit commodo lorem tempor sea dolor stet stet hendrerit in labore sadipscing magna gubergren sanctus tempor ipsum elitr est dolor lorem et enim ipsum sit justo dolores sit et ut sit gubergren kasd et rebum elitr aliquyam lobortis erat in nonumy dolor et elitr sadipscing sea dolor diam magna magna sit autem nisl vero consectetuer consequat tempor dolor laoreet nonumy voluptua luptatum feugiat sea tempor vero aliquip sed amet accusam sanctus magna rebum amet takimata sit est dolore consetetur et consectetuer eum illum</p>
<p>@Html.ActionLink("Sign up!", "Signup", "Newsletter")</p>