@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

<h1>Newsletter Signup</h1>
<hr />
<h2>Would you like to sign up for our newsletter?</h2>
<div class="row">
    <div class="col s12 m6 center">
        @using (Html.BeginForm("Signup", "Newsletter", FormMethod.Post))
        {
            <button class="btn green" type="submit">Yes Please</button>
        }
    </div>
    <div class="col s12 m6 center">
        @Html.ActionLink("Never Mind", "Index", "Newsletter", null, new { @class = "btn red" })
    </div>
</div>